{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/directions/xml?alternative=true\u0026destination=2557%2BDunkeld%2BPlace%252C%2BDenver%252C%2BCO\u0026language=en\u0026mode=driving\u0026origin=1505%2BBlake%2BStreet%252C%2BDenver%252C%2BCO\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/xml; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"\u003c?xml version=\"1.0\" encoding=\"UTF-8\"?\u003e\n\u003cDirectionsResponse\u003e\n \u003cstatus\u003eOVER_QUERY_LIMIT\u003c/status\u003e\n \u003cerror_message\u003eYou have exceeded your rate-limit for this API.\u003c/error_message\u003e\n\u003c/DirectionsResponse\u003e\n"},"http_version":null},"recorded_at":"Wed, 30 Sep 2015 13:59:49 GMT"},{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/directions/xml?alternative=true\u0026destination=2557%2BDunkeld%2BPlace%252C%2BDenver%252C%2BCO\u0026language=en\u0026mode=driving\u0026origin=1505%2BBlake%2BStreet%252C%2BDenver%252C%2BCO\u0026sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/xml; charset=UTF-8"]},"body":{"encoding":"ASCII-8BIT","string":"\u003c?xml version=\"1.0\" encoding=\"UTF-8\"?\u003e\n\u003cDirectionsResponse\u003e\n \u003cstatus\u003eOVER_QUERY_LIMIT\u003c/status\u003e\n \u003cerror_message\u003eYou have exceeded your rate-limit for this API.\u003c/error_message\u003e\n\u003c/DirectionsResponse\u003e\n"},"http_version":null},"recorded_at":"Wed, 30 Sep 2015 13:59:49 GMT"}],"recorded_with":"VCR 2.9.3"}