<div class="container">
  <h1>Welcome, <%= current_rider.name %>!</h1>

  <% if current_rider.active_rides.length == 0 %>
  
    <%= render partial: "available_rides" %>
  
  <% else %>
  
    <%= render partial: "active_ride_requests" %>
  
  <% end %>

  <%= render partial: "completed_rides" %>
</div>
