<h1>Welcome, <%= current_driver.name %>!</h1>

<% if !current_driver.current_ride %>
  
  <%= render partial: "available_rides" %>
  
<% else %>
  
  <%= render partial: "current_ride" %>
  
<% end %>

<%= render partial: "completed_rides" %>
