@import "bootstrap-sprockets";
@import "bootstrap";

// WELCOME //

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#buttons{
  text-align: center;
}

.signup-button{
  margin: 30px 75px;
}
